composer.symlink/.htaccess
composer.symlink/bin/*
composer.symlink/cache
composer.symlink/composer.lock
composer.symlink/config.json
composer.symlink/vendor
drush.symlink/cache
vim.symlink/bundle
vim.symlink/plugin/settings/local.vim
vim.symlink/spell
